/* FONT STYLES */
@font-face {
    font-family: blow_brush;
    font-style: normal;
    font-weight: normal;
    src: URL("../fonts/blow_brush.ttf");
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,500italic);

$mainfont: 'Ubuntu', sans-serif;
$fancyfont: blow_brush, helvetica;


/* COLORS */
$herocolor: #00EE00;
$personalbground: #575767;
$personalcolor: #fff;
$aboutbground: #27AFA5;
$headerbground: #fff;
$aboutmaincolor: #fff;


/* REMOVES MARGIN AND PADDING */
body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
}
